@import 'tailwindcss';
@plugin "daisyui" {
	themes: all;
}

@media print {
	body {
		background: white;
		color: black;
	}

	.no-print {
		display: none;
	}
}

@layer components {
	.note-unimportant {
		@apply rounded-md text-xs;
	}
}

/* I WILL CHANGE THIS */
/* lioshi Theme */
/* Original theme - https://github.com/lioshi/vscode-lioshi-theme */

.hljs {
	background: #303030;
	color: #c5c8c6;
}

/* Comment */
.hljs-comment {
	color: #8d8d8d;
}

/* quote */
.hljs-quote {
	color: #b3c7d8;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
	color: #cc6666;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-subst .hljs-link {
	color: #de935f;
}

/* Yellow */
.hljs-attribute {
	color: #f0c674;
}

/* Green */
.hljs-string,
.hljs-bullet,
.hljs-params,
.hljs-addition {
	color: #b5bd68;
}

/* Purple */
.hljs-selector-tag,
.hljs-keyword,
.hljs-function,
.hljs-class {
	color: #be94bb;
}

/* Blue */
.hljs-title,
.hljs-meta,
.hljs-section {
	color: #81a2be;
}

/* Purple light */
.hljs-symbol {
	color: #dbc4d9;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}


span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
	background: inherit;
	filter: brightness(1.4);
	z-index: 0;
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
